@media screen and (max-width: 425px) {
  .TitlePrepare {
    font-size: 23px !important;
    width: 300px;
    position: relative;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.15);
  }

  .Title {
    font-size: 23px !important;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.15);
  }
}
